.a {
    font-weight: 100;
    color: grey;
    font-size: 16px;
}

.ribbon {
    display: flex;
    justify-content: space-between;
}

.discription {
    font-weight: 100;
    color: grey;
    font-size: 11px;
}

.container {
    background-color: white;
    box-sizing: border-box;
    width: 250px;
    font-size: 16px;
    /* Bypass 1vw root inheritance */
    /* Fixed width for perfect mobile rendering */
    min-height: 120px;
    padding: 24px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blue {
    color: rgb(21, 118, 255);
}